
.body{
    margin: 0%;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
    background-size:contain;
    overflow-x : hidden ;
    position:absolute;
    
}

.boy{
    height : 205px ;
    margin-top: 400px;
    position :absolute;
}
.score{
    position:absolute;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Arial";
    font-weight: bold;
}
.box{
    position: absolute;
    width: 35px;
    height : 100px;
    background-image :url(flame.gif);
    margin-top: 515px;
    background-size: 50px 100%;
}


    
.end{
    width : 100%;
    height : 100vh;
    position: absolute;
    background-color: rgb(159, 159, 190);

    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 90px;
    font-weight: bold;
    color : rgb(20, 14, 14);
    font-family: "Arial";
    visibility : hidden;
}
.btn{
    width: 400px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(41, 46, 34);
    color: white;
    border: none;
    border-radius : 10px;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1463bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 175px;
    position: absolute;
    margin-top: -70px;
  }

