
.body{
    margin: 0%;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    background-repeat: repeat-x;
    background-size:contain;
    overflow-x : hidden ;
    position:absolute;
    
}

.boy{
    height : 205px ;
    margin-top: 400px;
    position :absolute;
}
.score{
    position:absolute;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Arial";
    font-weight: bold;
}
.box{
    position: absolute;
    width: 35px;
    height : 35px;
    background-color : black;
    margin-top: 550px;
}
     
